/* Diseño.css */
body {
  font-family: Arial, sans-serif;
  margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo del documento */
}

.main-container {
  max-width: 1200px; /* Establece el ancho máximo del contenedor principal */
  margin: 0 auto; /* Centra el contenedor en la página horizontalmente */
  padding: 20px; /* Agrega relleno al contenedor principal para separar el contenido del borde */
}

/* Estilo para la lista horizontal */
div ul {
  list-style-type: none;
  padding: 0;
}

div li {
  display: inline-block;
  padding: 20px 20px; /* Espaciado interno */
  border-bottom: 2px solid black; /* Línea negra debajo del li */
  margin: 0 12px; /* Margen a los lados para separar la línea de los extremos */
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en varias líneas si es necesario */
}

.image-item {
  margin: 10px; /* Espaciado entre las imágenes y descripciones */
  text-align: center; /* Centrar el texto dentro de cada imagen */
}

.image-item img {
  width: 360px; /* Ancho fijo para todas las imágenes */
  height: 300px; /* Altura fija para todas las imágenes */
  object-fit: fill; /* Ajusta la imagen para llenar el contenedor manteniendo la proporción */
}

.full-width-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Ajusta el espacio entre las imágenes */
}

.full-width-image {
  flex: 1; /* Hace que las imágenes ocupen todo el espacio disponible */
  text-align: center; /* Centrar el texto dentro de cada imagen */
}

.full-width-image img {
  width: 100%; /* La imagen abarcará el 100% del ancho disponible */
  height: 50vh; /* La imagen será el 50% de la altura de la ventana del navegador */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor manteniendo la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}
.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 10px;
}


